<div class="modal__login">
	<div class="login">
		<h1 class="login__title">Log in</h1>
		<p class="login__text">Enter your login and password</p>
		<form class="login__form">
			<label for="email">Email
				<input type="email" name="email" class="login__email" required>
			</label>
			<label for="password">Password
				<input type="password" name="password" class="login__password" required>
			</label>
			<button type="submit" class="login__btn-done">Log in</button>
		</form>
		<button class="modal__btn-close"></button>
	</div>
</div>
<div class="modal__register">
	<div class="register">
		<p class="register__text">Congrats, you're one step closer to financial independance
		</p>
		<form class="register__form">
			<label for="email">Name
				<input type="text" name="name" class="register__name" required>
			</label>
			<label for="email">Email
				<input type="email" name="email" class="register__email" required>
			</label>
			<label for="password">Password
				<input type="password" name="password" class="register__password" required>
			</label>
			<button type="submit" class="register__btn-done">Done</button>
		</form>
		<button class="modal__btn-close"></button>
	</div>
</div>